<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mr.mf_pd.application">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />

    <application
        android:name=".app.MRApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,UnusedAttribute">

        <provider
            android:name=".utils.AppFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".view.splash.SplashActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar.Splash"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.main.MainActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.check.DeviceCheckActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.check.CheckDataActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".view.setting.uhf.UHFSettingActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".view.setting.ae.AESettingActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".view.setting.hf.HFSettingActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".view.setting.tev.TEVSettingActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".view.file.FilePickerActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".view.file.PhotoListActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name="com.sito.tool.library.activity.ShowPhotoListActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".view.data.FileDataActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".view.setting.SettingActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".view.task.TaskActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:taskAffinity="${TASK_AFFINITY_VALUE}"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

    </application>

</manifest>